<!DOCTYPE html>
<html>
  <head>
    <title>Members only</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  </head>
  <body>
    <% if (user) {%>
      <header>
        <a href="/"><h1>Members Club</h1></a>
      </header>
      <aside>
        <div>
          <h1>Welcome <%= user.firstName %></h1>
          <a href="/new-message">Create new message</a>
          <a href="/join-club">Join the club</a>
          <a href="/admin">Become admin</a>
          <a href="/log-out">Log out</a>
        </div>
      </aside>

      <div class="messages">
        <h1>Messages</h1>
        <% if (messages) { messages.forEach(msg => {%>
          <div>
            <% if (user.isMember || user.isAdmin) {%>
              <p>By <%= msg.author.fullName %></p>
            <% } %>
            <p><strong><%= msg.title %></strong></p>
            <p><%= msg.text %></p>
            <% if (user.isMember || user.isAdmin) {%>
              <p class="timestamp"><%= msg.timestamp %></p>
            <% } %>
            <% if (user.isAdmin) {%>
              <form action="delete/<%= msg._id %>" method="post">
                <button class="delete">
                  <span class="material-symbols-outlined">delete</span>
                </button>
              </form>
            <% } %>
          </div>
        <% })} else {%>
          <p>No messages yet</p>
        <% } %>
      </div>
    <% } else { %>
      <header>
        <a href="/"><h1>Members Club</h1></a>
      </header>
      <aside>
        <div>
          <h1>Log in to write messages</h1>
          <form action="/log-in" method="post">
            <p>
              <label for="email">Email</label>
              <input type="email" name="email" id="email" autocomplete="email">
            </p>
            <p>
              <label for="pwd">Password</label>
              <input type="password" name="pwd" id="pwd">
            </p>
            <% if (error) {%>
              <p><%= error.at(-1) %></p>
            <% } %>
            <button>Log in</button>
          </form>
          <p>Or <a href="/sign-up">sign up</a></p>
        </div>
      </aside>

      <div class="messages">
        <h1>Messages</h1>
        <% if (messages) { messages.forEach(msg => {%>
          <div>
            <p><strong><%= msg.title %></strong></p>
            <p><%= msg.text %></p>
          </div>
        <% })} else {%>
          <p>No messages yet</p>
        <% } %>
      </div>
    <% } %>
  </body>
</html>
